ATLAS_URI=mongodb://127.0.0.1:27017
PORT=5050
DB_NAME=shopping-list-test-e2e
E2E_BASE_URL=http://localhost:5173
E2E_BACKEND_URL=http://localhost:5050
JWT_SECRET=change-me-for-local-e2e
E2E_MONGO_CONTAINER=shopping-list-mongo-e2e
NODE_ENV=e2e